@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

html,
body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    overflow-x: hidden; }